/* filtering nav */
.filtering {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, background-color 0.3s;
}

.filtering ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filterItem {
    margin-right: 100px;
    position: relative;
    padding: 10px;
    }

.filterItem:last-child {
    margin-right: 0;
}

.filterItem a {
    padding-left: 5px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
}

.filterItem::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: #4b4237;
    transition: 0.3s;
}

.filterItem:hover::after {
    width: 100%;
}

.togglefilteringdrop{
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: white;
}

.filterItem.category-hover::after {
    width: 100%;
}

.filterItem.price-hover::after {
    width: 100%;
}

.filterItem.size-hover::after {
    width: 100%;
}

.category-popup, .price-popup, .size-popup{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 999;
}

.category-popup.catshowdropdown, .price-popup.priceshowdropdown, .size-popup.sizeshowdropdown{
    display: flex;
}

.category-popup:hover{
    display: flex;
}

.price-popup:hover{
    display: flex;
}

.size-popup:hover{
    display: flex;
}

.filteringdrop {
    display: none;
    width: 100%;
}

.filteringdrop.showfilterdrop {
    display: flex;
    justify-content: center;
}

.allcat, .allsizes, .pricefilter{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.filtercategories:first-child, .filtersizes:first-child{
    border: none;
}

.filtercategories, .filtersizes, .ascdesc{
    cursor: pointer;
    margin-right: 20px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

.filtercategories:hover, .filtersizes:hover, .ascdesc:hover{
    background-color: rgb(191, 191, 191);
}